*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto Condensed;

}
body{
    width: 1400px;
    margin: 0 auto;
    font-family: Roboto Condensed;
}